header{grid-area: header;}
#input1{grid-area: input1;}
#input2{grid-area: input2;}
#input3{grid-area: input3;}
#output{grid-area: output;}
footer{grid-area: footer;}
body{
    display: grid;
    grid-template-areas:
    'header header'
    'input1 input2'
    'input3 output'
    'footer footer';
    gap: 10px;
    background-image: linear-gradient(white, lightblue);
    padding: 10px;
}
body > section{
    text-align: center;
    padding: 20px 0;
}